
html{
    scroll-behavior: smooth;
}

body{
  color: black;
  word-wrap: break-word;
  background-color: #ffffff;
  font-size: 18px;
  margin: 0;
  padding: 0;
  font-family: inherit;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;

}



h1{
  display: block;
  color: rgb(9, 65, 9);
  font-size: 50px;
  line-height: 0;
  padding: 50px 0px;
  text-align: center;
}

h2{
  color: rgb(9, 65, 9);
  font-size: 50px;
  line-height: 1.5;
  padding: 10px;
}

h3{
  color: rgb(9, 65, 9);
  font-size: 40px;
  text-decoration: underline;
  line-height: 0;
  padding: 20px 20px;
  text-align: center;

}

h4{color: rgb(75, 126, 117);
  font-size: 30px;
  padding: 10px;
  font-family: cursive;
  text-align: right;
  padding: 10px;

}

h5{color: rgb(9, 65, 9);
  text-shadow: blanchedalmond;
  font-size: 20px;
  padding: 70px 0;
  border: 3px solid green;
  text-align: center;
  text-transform: capitalize;
}

nav ul{
  list-style-type: none;
}

nav li{
  display: inline;
  padding-right: 20px;
}

nav{
  height: 100px;
  background-color: #ddd;
  padding: 25px 0;    
  text-align: center;   
}

header p{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  color: rgb(0, 0, 0);
  font-size: 100%;
  padding: 0px 100px;
  text-align: center;

}

footer{
  background-color: rgb(9, 65, 9);
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

embed{
  width: 500px; /*45%*/ 
  height: 500px;
}

/*inline-block, grid, flex 를 사용해서 두 요소를 (디폴트가 block인 상태니까)*/ 

nav a{
  color: black;
  font-weight: bold;
  text-decoration: none;
  position: relative;
  
}

nav li a.current{
  text-decoration: underline;
  background-color: blanchedalmond;
}
nav li a:active{
  color: #ddd;
  text-transform: uppercase;
}



.skip a{
  background: white;
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  position: absolute;
  top: -40px;
}

.work-image{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/*.work .text-block{
  display: grid;
}*/

.work-image img{
  width: 50%;
  /*float: left;*/
}



header{
  background-attachment: fixed; /* Parallax effect */
  background-position: center; /* Parallax effect */
  background-size: cover; /* Parallax effect */
  color:rgb(0, 0, 0);
  height: 300px; /* Parallax effect */

  
  grid-row: 1 / span 1; 
  grid-column: 1/ -1;
  background-image: url("../images/header.jpg");
  background-repeat: no-repeat;

}

.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 90%;
  padding: 15px;
  margin: auto;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  /*border: 1px solid rgba(0, 0, 0, 0.8);*/
  padding: 10px;
  justify-content: center;
  align-content: center;
}




.grid-containaer > div .resume{
  justify-content: right;
  text-align: right;
  padding: 20px 0;
  font-size: 20px;
}
.grid-containaer> div embed{
  justify-content: right;
}

*{
  box-sizing: border-box;
}
img{
  width: 100%;
}

.about-image{

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  width: 500px;
  border: blanchedalmond;
  border-style:solid;
  
}

.about{
  grid-column: 2/ span 1;
  grid-row: 2/ span 1;
 
}



.resume{
width: 1000px;
margin: auto;
text-align: left;
}



.contact-text{
  text-align: left;
  font-size: 22px;
  font-variant: small-caps;
  padding: 10px;
  margin: 10px;
  border: rgb(9, 65, 9);
  border-style: solid;
}





.text-block{
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  border: 0px solid black;
  padding: 30px;
  margin: 0;
  font: inherit;
  vertical-align: baseline;
  font-size: 25px;
  
  margin-left: auto;
  margin-left: auto;
  align-self: center;

}







* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}


/*
@media screen and (min-width: 800px){
  nav{
    padding: 30px 0px;
    /*text-align: right;

    
  }*/


/*
  .container{
    grid-template-columns: 50px auto 500px auto 50px;
    grid-template-rows: repeat(5, 400px);

  }

  

  .about-image{
    grid-column: 2/ span 2;
  
  }

  .about{
    grid-column: 3/ span 2;
    
  }

  .method-image{
    grid-column: 3/ span 2;

  }

  .method{
    grid-column: 2/ span 2;
   
  }

  .clients-image{
    grid-column: 2/ span 2;
  }

  .clients{
    grid-column: 3/ span 2;
    
  }

  .contact-image{
    grid-column: 3/ span 2;

  }

  .contact{

    grid-column: 2/ span 2;
  }

}


/** Code for prefers reduced motion **/
/* Make no changes below this line.
   *************************************** 
   
@media screen and (prefers-reduced-motion: reduce){
  /*Turn off scroll*/
  /*
  html{
      scroll-behavior: auto; /* Removes scroll animation */
  }

  /*Turn off transition*/
  /*
  .skip a{
    -webkit-transition: initial; 
    transition: initial; /* sets to default setting */
  }

  /*Turn off parallax*/
  /*
  header{
    background-attachment: initial;
  }
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
